html, body {
  font-family: 'Nunito', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  font-weight: 300;
  background-image: -o-linear-gradient(134deg, #3E468D 0%, #1C2363 100%);
  background-image: -moz-linear-gradient(134deg, #3E468D 0%, #1C2363 100%);
  background-image: -ms-linear-gradient(134deg, #3E468D 0%, #1C2363 100%);
  background-image: linear-gradient(224deg, #3E468D 0%, #1C2363 100%);
  height: 100%;
}

* {
  box-sizing: border-box;
}

h1, h2 {
  color: #fff;
  opacity: 1;
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}

#wrapper {
  width: 1440px;
  margin: 0 auto;
  
  #main {
    padding-top: 40px;
    padding-left: 40px;
    margin-bottom: 30px;
    overflow: auto;
    #left {
      h1 {
        margin-bottom: 30px;
        font-weight: 300;
        font-size: 2.0em;
      }
      width: 200px;
      float: left;

      section {
        margin-top: 40px;
        header {
          padding-bottom: 8px;
          border-bottom: 1px solid rgba(255,255,255,0.5);
          font-size: 0.9em;
        }
        .description {
          opacity: 0.5;
          font-size: 0.6em;
          margin-bottom: 5px;
          margin-top: 8px;
        }

        .value {
          font-size: 2.8em;
          font-weight: bold;

          .icon {
            color: #FF987A;
            line-height: 2em;
            font-size: 0.8em;
            float: left;
          }
        }

        .value:before {
          
        }

      }
    }
    #right {
      margin-top: 16px;

      #soundBar {
        width: 10px;
        height: 375px;
        margin-top: 4px;
        margin-left: 50px;
        float: left;
        background: #50589E;
        position: relative;
        #soundBarValue {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          background: #FFC878;
        }
      }
      
      section {
        margin-left: 40px;
        float: left;
        #soundCurve {
          width: 1050px;
          height: 350px;
        }
        header {

        }
      }
    }
  }
  #extra {
    clear: both;
    background: #242C70;
    overflow: auto;
    padding-left: 40px;
    padding-bottom: 40px;

    #temperatureCurve {
      width: 400px;
      height: 175px;
    }
    #humidityCurve {
      width: 400px;
      height: 175px;
    }

    #lightIcon {
      font-size: 8em;
      padding: 30px;
      text-align: center;
    }

    section {
      float: left;
      width: 520px;
      height: 230px;
      padding: 20px;
      margin: 20px 10px;
      background: #333B80;
      header {
        .icon {
          vertical-align: -10%;
          margin-right: 4px;
        }
      }
    }

    section:first-child {
      width: 260px;
    }
  }
}

