html, body {
  font-family: 'Nunito', sans-serif;
  background: #333;
  color: #fff;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

h1, h2 {
  color: #fff;
  opacity: 1;
  padding: 0;
  margin: 0;
}

.description {
  opacity: 0.5;
  font-size: 0.7em;
}

.value {
  font-size: 4em;
  font-weight: bold;
}

.value:before {
  
}

#wrapper {
  width: 1440px;
  margin: 0 auto;
  padding: 40px;
  box-sizing: border-box;
  
  #main {
    #left {
      h1 {
        margin-bottom: 70px;
      }
      width: 200px;
      float: left;

      section {
        margin-bottom: 40px;
        header {
          padding-bottom: 8px;
          border-bottom: 1px solid rgba(255,255,255,0.5);
        }
        .description {

        }
        .value {

        }
      }
    }
    #right {
      float: left;
      width: 800px;
      margin-top: 20px;

      #soundBar {
        width: 10px;
        height: 375px;
        background: red;
        margin-left: 50px;
        float: left;
      }
      
      section {
        margin-left: 20px;
        float: left;
        #soundCurve {
          width: 600px;
          height: 350px;
        }
        header {

        }
      }
    }
  }
  #extra {
    clear: both;

    #temperatureCurve {
      width: 400px;
      height: 175px;
    }
    #humidityCurve {
      width: 400px;
      height: 175px;
    }

    section {
      float: left;
      width: 300px;
      height: 200px;
      padding: 10px;
      margin: 10px;
      background: rgba(255,255,255,0.5);
      header {

      }
    }
  }
}

