@(message: String)

@main("Catacomb") {

  <div id="wrapper">

    <div id="main">
      <aside id="left">
        <h1>cata<strong>comb</strong></h1>
        <section>
          <header>
            Ongoing match
          </header>
          <p class="description">
            Captured with light sensor.
          </p>
          <div id="lightValue" class="value">
            …
          </div>
        </section>
        <section>
          <header>
            Room temperature
          </header>
          <p class="description">
            Captured with thermometer.
          </p>
          <div class="value">
            <i class="icon" data-icon="d"></i>
            <span id="temperatureValue">…</span>
          </div>
        </section>
      </aside>
      <div id="right">
        <div id="soundBar">
          <div id="soundBarValue"></div>
        </div>
        <section>
          <header>Sound level</header>
          <div id="soundCurve"></div>
        </section>
      </div>
    </div>

    <div id="extra">
      <section>
        <header>
          <i style="color:#66C26C" class="icon" data-icon="e"></i>
          Light
        </header>
        <div id="lightIcon">
          ...
        </div>
      </section>
      <section>
        <header>
          <i style="color:#FF987A" class="icon" data-icon="e"></i>
          Temperature
        </header>
        <div id="temperatureCurve" class="epoch category10"></div>

      </section>
      <section>
        <header>
          <i style="color:#BC8BF1" class="icon" data-icon="e"></i>
          Humidity
        </header>
        <div id="humidityCurve" class="epoch category10"></div>
      </section>
    </div>

  </div>

  <script src="@routes.Assets.at("jquery-2.1.1.min.js")"></script>
  <script src="@routes.Assets.at("d3.v3.min.js")"></script>
  <script src="@routes.Assets.at("epoch.min.js")"></script>

  <script src="@routes.Assets.at("javascripts/main.js")"></script>

}
