@(message: String)

@main("Catacomb") {

  <div id="wrapper">

    <div id="main">
      <aside id="left">
        <h1>catacomb</h1>
        <section>
          <header>
            Partie en cours
          </header>
          <p class="description">
            Calculé grâce au détecteur de lumière.
          </p>
          <div id="lightValue" class="value">
            ?
          </div>
        </section>
        <section>
          <header>
            Température de la pièce
          </header>
          <p class="description">
            Calculé l'activité ressentie dans la pièce.
          </p>
          <div id="temperatureValue" class="value">
            ?
          </div>
        </section>
      </aside>
      <div id="right">
        <div id="soundBar"></div>
        <section>
          <header>Sound curve</header>
          <div id="soundCurve"></div>
        </section>
      </div>
    </div>

    <div id="extra">
      <section>
        <header>Light</header>
        <div id="lightIcon"></div>
      </section>
      <section>
        <header>Temperature</header>
        <div id="temperatureCurve"></div>
      </section>
      <section>
        <header>Humidity</header>
        <div id="humidityCurve"></div>
      </section>
    </div>

  </div>

  <script src="@routes.Assets.at("jquery-2.1.1.min.js")"></script>
  <script src="@routes.Assets.at("d3.v3.min.js")"></script>
  <script src="@routes.Assets.at("epoch.min.js")"></script>
  <script src="@routes.Assets.at("javascripts/main.js")"></script>

}
